

body{
    width: 100%;
    height: 100vh;
    background-image:url(images/oioi.jpg);
 background-size: cover;

    background-position: center;}

   #container{
   
    width: 500px;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(0,0,0,0.5);
   }
   .new{
    margin-top: 100px;
    text-align: center;
    
   }
   button{
    font-size: 1.5rem;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
   color: white;
   border: none;
   font-weight: 600;
    background-image:  linear-gradient(rgb(14, 3, 82), pink);
    cursor: pointer;
   }
  .title h1{
    color: rgb(73, 119, 143);
    margin: 10px;
  }
  .pl{
    color: white;
    margin: 10px;
    font-size: 1.5rem;
  }
  .po{
    margin: 9px;
  }
   
    

